<table border=1 text-align="center" vertical-align="middle">
    <tr> {{!-- header --}} 
    <th>ID</th><th>Date</th><th>Player1-1</th><th>Player1-2</th><th colspan='2'>Scores</th><th>Player2-1</th><th>Player2-2</th> 
    </tr>
    {{#each Match as |val key| }}
       <tr><td>{{val.id}}</td> <td>{{val.date}}</td><td>{{{val.player11_name}}}</td><td>{{{val.player12_name}}}</td>
           <td>{{val.score1}}</td> <td>{{val.score2}}</td> <td>{{{val.player21_name}}}</td><td>{{{val.player22_name}}}</td>
       </tr>  
    {{/each}} 
</table>